body {
    text-align:center;
    background-color:orangered;
    color:white;
    font-family:"Inter", sans-serif;
}

a {
    text-decoration:none;
    color:violet;
}
a:hover {
    text-decoration:underline;
}
a:visited {
    color:violet;
}

.div1 {
    display:flex;
    flex-direction:row;
    justify-content:center;
}

.inside_div {
    transition:all 0.25s;
    background-color:black;
    width:100px;
    height:100px;
    margin:5px;
    border-radius:5px;
    cursor:pointer;
}
.inside_div:hover {
    box-shadow:0 0 5px black;
}

#title {
    border-bottom:white solid 1px;
    width:fit-content;
    margin:auto;
}

#instructions {
    width:500px;
    margin-top:20px;
    margin-bottom:20px;
}